/* Misc */
/* Font-Family */
/* Nomarlizacion */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Para que se repartan las medidas y no se agreguen a lo default */ }

html {
  font-size: 62,5%;
  /* Para que la medida rem y em sean 10px */ }

ol, ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    text-decoration: none;
    color: white; }

body {
  display: flex;
  flex-direction: column; }

main {
  text-align: center;
  background-color: #ff7cbc;
  border: 0.7rem #b5ffff solid;
  padding: 1rem; }

h1, h2 {
  font-family: "Oswald";
  color: white;
  font-weight: 500px; }

h2 {
  padding-top: 3rem;
  padding-bottom: 1rem; }

label {
  display: inline;
  margin: 0;
  padding: 0; }

.imagen {
  width: 100%;
  height: 100%;
  border-radius: 1rem; }

/* Partials */
header {
  background: #ff7cbc;
  background: linear-gradient(0deg, #ff7cbc 0%, #fc9df9 20%, #e3c0fb 48%, #b5ffff 84%);
  padding: 1rem;
  /* Le hace un marco hacia adentro a mi header, haciendo que no queden las cosas pegadas al borde */ }

/* Vista escritorio */
@media only screen and (min-width: 769px) {
  /* Barra de Navegacion */
  .menu {
    display: flex;
    flex-direction: none;
    align-items: flex-end;
    justify-content: center; }
    .menu__item {
      font-family: 'Oswald';
      font-size: 1.5rem;
      margin: 1rem;
      padding: 0px 0.3rem 0px 0.3rem;
      transition: transform .6s;
      transition: border .6s; }
      .menu__item:hover {
        transform: scale(1.05);
        border: 0.3rem white solid; }
    .menu__item--imagen {
      transition: transform .6s; }
      .menu__item--imagen:hover {
        transform: scale(1.05); } }

/* Vista Tablets */
@media only screen and (max-width: 768px) {
  /* Barra de Navegacion */
  .menu {
    display: flex;
    flex-direction: none;
    align-items: flex-end;
    justify-content: center;
    padding-left: 0; }
    .menu__item {
      font-family: 'Oswald';
      font-size: 1.5rem;
      margin: 1rem;
      padding: 0px 0.3rem 0px 0.3rem; } }

/* Vista celular */
@media only screen and (max-width: 560px) {
  /* Barra de Navegacion */
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
    padding-left: 0;
    padding-right: 0; }
    .menu__item {
      font-family: 'Oswald';
      font-size: 1.5rem;
      margin: 1rem;
      padding: 0px 0.3rem 0px 0.3rem; }
    .menu__item--imagen {
      order: -1; } }

footer {
  background: #b5ffff;
  background: linear-gradient(0deg, #b5ffff 4%, #c1effe 22%, #e3c0fb 39%, #fc9df9 61%, #ff7cbc 84%);
  padding: 1rem; }

/* Vista escritorio */
@media only screen and (min-width: 769px) {
  .footer {
    display: flex;
    flex-direction: none;
    align-items: center;
    justify-content: center; }
    .footer__redes {
      display: flex;
      flex-direction: column;
      align-items: none;
      justify-content: none;
      gap: 1rem; } }

/* Vista Tablets */
@media only screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: none;
    align-items: center;
    justify-content: center; }
    .footer__redes {
      display: flex;
      flex-direction: column;
      align-items: none;
      justify-content: none;
      gap: 1rem; } }

/* Vista celular */
@media only screen and (max-width: 560px) {
  .footer {
    display: flex;
    flex-direction: none;
    align-items: center;
    justify-content: center; }
    .footer__redes {
      display: flex;
      flex-direction: column;
      align-items: none;
      justify-content: none;
      gap: 1rem; } }

/* Views */
/* Vista escritorio */
@media only screen and (min-width: 769px) {
  .container {
    max-width: 60rem; }
  .ingresos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 1fr 1fr;
    padding-left: 0;
    gap: 1rem; }
    .ingresos__imagen {
      transition: transform .6s; }
      .ingresos__imagen:hover {
        transform: scale(1.05); }
    .ingresos__imagen:nth-child(1) {
      height: 100%;
      grid-column: 1/2;
      grid-row: 1; }
    .ingresos__imagen:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1; }
    .ingresos__imagen:nth-child(3) {
      grid-column: 3/4;
      grid-row: 1; }
    .ingresos__imagen:nth-child(4) {
      grid-column: 4/5;
      grid-row: 1; }
    .ingresos__imagen:nth-child(5) {
      grid-column: 1/2;
      grid-row: 2; }
    .ingresos__imagen:nth-child(6) {
      grid-column: 2/3;
      grid-row: 2; }
    .ingresos__imagen:nth-child(7) {
      grid-column: 3/4;
      grid-row: 2; }
    .ingresos__imagen:nth-child(8) {
      grid-column: 4/5;
      grid-row: 2; } }

/* Vista Tablet */
@media only screen and (max-width: 768px) {
  .ingresos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 1fr 1fr 1fr 1fr;
    padding-left: 0;
    gap: 1rem; }
    .ingresos__imagen:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1; }
    .ingresos__imagen:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1; }
    .ingresos__imagen:nth-child(3) {
      grid-column: 1/2;
      grid-row: 2; }
    .ingresos__imagen:nth-child(4) {
      grid-column: 2/3;
      grid-row: 2; }
    .ingresos__imagen:nth-child(5) {
      grid-column: 1/2;
      grid-row: 3; }
    .ingresos__imagen:nth-child(6) {
      grid-column: 2/3;
      grid-row: 3; }
    .ingresos__imagen:nth-child(7) {
      grid-column: 1/2;
      grid-row: 4; }
    .ingresos__imagen:nth-child(8) {
      grid-column: 2/3;
      grid-row: 4; } }

/* Vista celular */
@media only screen and (max-width: 560px) {
  .ingresos {
    display: flex;
    flex-direction: column; } }

.texto {
  display: block;
  width: 100%; }

.container {
  text-align: left; }

label {
  font-family: cursive;
  font-size: 1.5rem; }

/* Vista Escritorio */
p {
  font-family: cursive; }

@media only screen and (min-width: 769px) {
  .nosotros {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem; }
    .nosotros__item {
      background-color: #b5ffff;
      height: 30rem;
      width: 20rem;
      overflow: hidden; }
    .nosotros__item--imagen {
      border: 0.7rem #b5ffff solid;
      max-width: 1000px;
      height: 30rem;
      width: 40rem; } }

/* Vista Tablets */
@media only screen and (max-width: 768px) {
  .nosotros {
    padding-left: 0; }
    .nosotros__item {
      background-color: #b5ffff; }
    .nosotros__item--imagen {
      margin-bottom: 1rem;
      border: 0.7rem #b5ffff solid; } }

/* Vista celular */
@media only screen and (max-width: 560px) {
  .nosotros {
    padding-left: 0; }
    .nosotros__item {
      background-color: #b5ffff; }
    .nosotros__item--imagen {
      margin-bottom: 1rem;
      border: 0.7rem #b5ffff solid; } }

.compra {
  list-style-type: decimal;
  background-color: #b5ffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-family: cursive; }

button {
  border-radius: 1rem;
  background-color: aqua;
  font-size: 1.5rem;
  font-family: cursive; }

/* Vista escritorio */
@media only screen and (min-width: 769px) {
  .container {
    max-width: 60rem; }
  .container2 {
    max-width: 60rem;
    max-height: 60rem; }
  .tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
    gap: 2rem; }
  .ingresos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 1fr 1fr;
    padding-left: 0;
    gap: 2.5rem; }
    .ingresos__imagen {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: transform .6s; }
      .ingresos__imagen:hover {
        transform: scale(1.05); }
    .ingresos__imagen:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1; }
    .ingresos__imagen:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1; }
    .ingresos__imagen:nth-child(3) {
      grid-column: 3/4;
      grid-row: 1; }
    .ingresos__imagen:nth-child(4) {
      grid-column: 4/5;
      grid-row: 1; }
    .ingresos__imagen:nth-child(5) {
      grid-column: 1/2;
      grid-row: 2; }
    .ingresos__imagen:nth-child(6) {
      grid-column: 2/3;
      grid-row: 2; }
    .ingresos__imagen:nth-child(7) {
      grid-column: 3/4;
      grid-row: 2; }
    .ingresos__imagen:nth-child(8) {
      grid-column: 4/5;
      grid-row: 2; } }

/* Vista Tablet */
@media only screen and (max-width: 768px) {
  .tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none; }
  .ingresos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 1fr 1fr 1fr 1fr;
    padding-left: 0;
    gap: 2.5rem; }
    .ingresos__imagen {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
    .ingresos__imagen:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1; }
    .ingresos__imagen:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1; }
    .ingresos__imagen:nth-child(3) {
      grid-column: 1/2;
      grid-row: 2; }
    .ingresos__imagen:nth-child(4) {
      grid-column: 2/3;
      grid-row: 2; }
    .ingresos__imagen:nth-child(5) {
      grid-column: 1/2;
      grid-row: 3; }
    .ingresos__imagen:nth-child(6) {
      grid-column: 2/3;
      grid-row: 3; }
    .ingresos__imagen:nth-child(7) {
      grid-column: 1/2;
      grid-row: 4; }
    .ingresos__imagen:nth-child(8) {
      grid-column: 2/3;
      grid-row: 4; } }

/* Vista celular */
@media only screen and (max-width: 560px) {
  .ingresos {
    display: flex;
    flex-direction: column; } }
