/* Misc */
@import "./misc/variables";
@import "./misc/mixin";
@import "./misc/normalize";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&display=swap');




/* Partials */
@import "./partials/header";
@import "./partials/footer";

/* Views */
@import "./views/home";
@import "./views/contacto";
@import "./views/nosotros";
@import "./views/servicios";
@import "./views/tienda";


