/* Misc */
@import "./misc/variables";
@import "./misc/normalize";

/* Partials */
@import "./partials/header";
@import "./partials/footer";

/* Views */
@import "./views/home";
@import "./views/contaco";
@import "./views/nosotros";
@import "./views/servicios";
@import "./views/tienda";


