footer {
    background: rgb(181,255,255);
    background: linear-gradient(0deg, rgba(181,255,255,1) 4%, rgba(193,239,254,1) 22%, rgba(227,192,251,1) 39%, rgba(252,157,249,1) 61%, rgba(255,124,188,1) 84%);
    padding: map-get($medidas, chica);
} 

/* Vista escritorio */
@media only screen and (min-width: 769px) {
    .footer {
       @include flex(flex, none, center, center);
        &__redes {
            @include flex(flex, column, none, none);
            gap: map-get($medidas, chica);
        }
    }
}


 /* Vista Tablets */
 @media only screen and (max-width: 768px) {
    .footer {
        @include flex(flex, none, center, center);
        &__redes {
            @include flex(flex, column, none, none);
            gap: map-get($medidas, chica);
        }
    }

    
 }

 /* Vista celular */
 @media only screen and (max-width: 560px) {
    .footer {
        @include flex(flex, none, center, center);
        &__redes {
            @include flex(flex, column, none, none);
            gap: map-get($medidas, chica);
        }
    }  
 }
 