/* Vista escritorio */
@media only screen and (min-width: 769px) {

}


 /* Vista Tablets */
 @media only screen and (max-width: 768px) {

 }

 /* Vista celular */
 @media only screen and (max-width: 560px) {

 }
 