header {
    background: rgb(255,124,188);
    background: linear-gradient(0deg, rgba(255,124,188,1) 0%, rgba(252,157,249,1) 20%, rgba(227,192,251,1) 48%, rgba(181,255,255,1) 84%);
    padding: 1rem; /* Le hace un marco hacia adentro a mi header, haciendo que no queden las cosas pegadas al borde */
}

/* Vista escritorio */
@media only screen and (min-width: 769px) {
  
    /* Barra de Navegacion */
    .menu {
        display: flex;
        justify-content: center;
        align-items: flex-end; 
        
        &__item {
            font-family: 'Oswald';
            font-size: 1.5rem;
            margin: 1rem;
            padding: 0px 0.3rem 0px 0.3rem;
            transition: transform .6s;
            transition: border .6s;
    
            &:hover {
                transform: scale(1.05);
                border: 0.3rem rgb(255, 255, 255) solid;
            }
        }
        &__item--imagen {
            transition: transform .6s;
    
            &:hover {
                transform: scale(1.05);
            } 
        }
        }
}

 /* Vista Tablets */
 @media only screen and (max-width: 768px) {
   
    /* Barra de Navegacion */
    .menu {
        display: flex;
        justify-content: center;
        align-items: flex-end; 
        padding-left: 0;

        &__item {
            font-family: 'Oswald';
            font-size: 1.5rem;
            margin: 1rem;
            padding: 0px 0.3rem 0px 0.3rem;
        }
        }
 }

 /* Vista celular */
 @media only screen and (max-width: 560px) {

    /* Barra de Navegacion */
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-right: 0;

        &__item {
            font-family: 'Oswald';
            font-size: 1.5rem;
            margin: 1rem;
            padding: 0px 0.3rem 0px 0.3rem;
        }

        &__item--imagen {
            order: -1;
        }
        }
 }
 