button {
    border-radius:1rem;
    background-color: aqua;
    font-size: 1.5rem;
    font-family: cursive;
}

/* Vista escritorio */
@media only screen and (min-width: 769px) {

    .container {
        max-width: 60rem;
    }

    
    .container2 {
        max-width: 60rem;
        max-height: 20rem;
    }
    
    .tienda {

        @include flex(flex, column, center, none);
        gap: 2rem;
        
    }


    .ingresos {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4 ,1fr);
        grid-row: 1fr 1fr;
        padding-left: 0;
        gap: map-get($medidas, media);
        


        &__imagen {
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
            gap: 1rem;
            transition: transform .6s;
            &:hover {
                transform: scale(1.05);
            }
        }

        &__imagen:nth-child(1){

            grid-column: 1/2 ;
            grid-row: 1 ;
        }
        &__imagen:nth-child(2){
            grid-column: 2/3 ;
            grid-row: 1 ;
        }
        &__imagen:nth-child(3){
            grid-column: 3/4;
            grid-row: 1 ;
        }
        &__imagen:nth-child(4){
            grid-column: 4/5;
            grid-row: 1 ;
        }
        &__imagen:nth-child(5){
            grid-column: 1/2;
            grid-row: 2 ;
        }
        &__imagen:nth-child(6){
            grid-column: 2/3;
            grid-row: 2 ;
        }
        &__imagen:nth-child(7){
            grid-column: 3/4;
            grid-row: 2 ;
        }
        &__imagen:nth-child(8){
            grid-column: 4/5;
            grid-row: 2 ;
        }
    }
}

/* Vista Tablet */
@media only screen and (max-width: 768px) {
   
    .tienda {

        @include flex(flex, column, center, none);
        
    }



    .ingresos {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2 ,1fr);
        grid-row: 1fr 1fr 1fr 1fr;
        padding-left: 0;
        gap: map-get($medidas, media);

        &__imagen {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__imagen:nth-child(1){
            grid-column: 1/2 ;
            grid-row: 1 ;
        }
        &__imagen:nth-child(2){
            grid-column: 2/3 ;
            grid-row: 1 ;
        }
        &__imagen:nth-child(3){
            grid-column: 1/2;
            grid-row: 2 ;
        }
        &__imagen:nth-child(4){
            grid-column: 2/3;
            grid-row: 2 ;
        }
        &__imagen:nth-child(5){
            grid-column: 1/2;
            grid-row: 3 ;
        }
        &__imagen:nth-child(6){
            grid-column: 2/3;
            grid-row: 3 ;
        }
        &__imagen:nth-child(7){
            grid-column: 1/2;
            grid-row: 4 ;
        }
        &__imagen:nth-child(8){
            grid-column: 2/3;
            grid-row: 4 ;
        }
    }
}

/* Vista celular */
@media only screen and (max-width: 560px) {
    .ingresos {
        display: flex;
        flex-direction: column;     
    }

}